/.project
/app/config/database.php
/app/tmp/*
/app/tmp/cache/*
/app/tmp/cache/models/*
/app/tmp/cache/persistent/*
/app/tmp/cache/views/*
/app/tmp/logs/*
/app/tmp/sessions/*
/app/tmp/tests/*
/app/webroot/img/*
/app/webroot/img/pictures/*
/app/webroot/img/pictures/640x480/*
/app/webroot/img/pictures/256x256/*
/app/webroot/img/pictures/128x128/*
/app/webroot/files/*
/cake/console/cake